@font-face {
    font-family: 'modern_pictogramsnormal';
    src: url('/font/modernpics-webfont.woff2') format('woff2'),
         url('/font/modernpics-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
}

a{
	color:white;
}

a:hover{
	color:gray;
}

body{
	overflow-x:hidden;
}

::before, ::after{
    font-family: 'modern_pictogramsnormal';
}

.none{
	display: none;
}

.get{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

img{
	max-width: 100%;
}

/*
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #656565;
    height: 5em;
    position: relative;
    z-index: 1000;
	overflow: hidden;
}*/

header {
    width: 100%;
    background-color: #656565;
    height: 5em;
    position: relative;
    z-index: 1000;
}

div.logo {
    padding-left: 1em;
    padding-top: 1em;
    max-width: 14em;
    float: left;
    display: inline-block;
}

.menuDesplegable {
    text-align: right;
}

div.menu {
    position: relative;
    right: -100%;
    min-width: 13em;
}

.menu>ul {
    display: flex;
    width: 100%;
    flex-direction: column;
}

ul>li.login {
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: left;
}

li.login button {
    padding: .7em .5em;
    border-radius: .5em;
    border: 0;
    font-size: 1.1em;
    margin: .25em 0em;
	color: white;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
}

li.login>span{
	color: #656565;
    font-weight: lighter;
	font-size: 1.1em;
}

button#lector{
	background-color: #00c853;
}

button#redactor{
	background-color: #e08200;
}

li.buscar form input#search, li.buscar form input#btnSearch {
    padding: .5em;
    border-radius: .5em;
    background-color: #cccccc;
    border: 0;
    color: white;
    font-weight: lighter;
}

li.buscar form input#btnSearch{
	background-color: #d50000;
	cursor: pointer;
}

li.buscar form input#search::-webkit-input-placeholder { color: white; } /* WebKit */
li.buscar form input#search:-moz-placeholder { color: white; } /* Firefox 18- */
li.buscar form input#search::-moz-placeholder { color: white; } /* Firefox 19+ */
li.buscar form input#search:-ms-input-placeholder { color: white; } /* IE 10+ */

li.buscar>form {
    padding: .7em;
    background-color: #656565;
    display: flex;
    justify-content: space-around;
}

div.iconMenu {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    margin-right: 1.5em;
    cursor: pointer;
    display: inline-block;
}

.buscar{
	display: none;
}

/*LOGIN*/
div.login {
	background: rgba(0,0,0,.7);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 1500;
}

div.login form {
    background-color: #323232;
    padding: 2.5em;
    height: 20em;
    margin: .5em;
    position: relative;
}

div.login img {
    padding: 1.7em 1em;
    border-radius: 100%;
    position: relative;
    box-sizing: content-box;
    top: -5.8em;
    width: calc(46px * 1.5);
    height: calc(28px * 1.5);
    left: calc(50% - 36px);
}

form.lector img{
    background-color: #00c853;
}

form.redactor img{
    background-color: #e08200;
}

div.login>form>a {
    position: absolute;
    right: 0;
    top: -2em;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
}

form.lector a{
    color: #00c853;
}

form.redactor a{
    color: #e08200;
}

div.in {
    top: -5em;
    position: relative;
}

div.in input {
    width: 100%;
    margin: .5em 0em;
    padding: 1em;
    border: 0;
}

input#ingresarLogin {
    cursor: pointer;
    color: white;
}

form.lector input#ingresarLogin{
	background-color: #00c853;
}

form.redactor input#ingresarLogin{
	background-color: #e08200;
}

ul.aclaracion {
    top: -5em;
    position: relative;
}

/*seccion*/
section {
    padding: 1em;
}


/*Seccion con publicacion random*/
section.introduccion {
    background-color: #cccccc;
    padding-top: 2em;
}

.fecha {
    color: #00c853;
    font-size: 1.5em;
    line-height: 1.3;
}

.loginEscritorio{
	display: none;
}

.fecha>h1>span {
    font-weight: normal;
}

.introduccion h4 {
    color: #656565;
    font-size: .9em;
    padding: 1em 0em;
    font-weight: normal;
}

.publicacionRandom div.imgPublicacion {
    background-color: #00c853;
    margin: 0;
    padding: .8em;
    width: 100%;
    max-width: 100%;
}

.publicacionRandom figcaption {
    margin-top: .5em;
    background-color: white;
    padding: .7em;
    color: #323232;
}

.publicacionRandom figcaption h1 {
    font-size: 1.8em;
    font-weight: normal;
}

.publicacionRandom figcaption h5 {
    font-size: .7em;
    font-weight: normal;
}

.publicacionRandom figcaption p {
    padding: 1em 0em;
    line-height: 1.3;
}

.publicacionRandom .precioPublicacion {
    font-size: 2em;
}

.publicacionRandom .comprarPublicacion>button {
    font-size: 1.2em;
}

.publicacionRandom div.imgPublicacion img {
    width: 100%;
}

/*Fin seccion publi radom*/

section.publicacion{
	background-color: #656565;
}

section.publicacion>h2 {
    color: #00c853;
    font-size: 1.3em;
    padding-bottom: 1.8em;
}

div.contenidoPublicacion {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.contenidoPublicacion figure {
    width: 48%;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
	margin: .5em 0;
}

div.imgPublicacion {
    max-width: 13em;
    margin: .7em;
}

div.contenidoPublicacion figcaption {
    background-color: #cccccc;
    padding: .5em;
    min-height: 8.5em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

figcaption h4 {
    font-size: .8em;
    font-weight: lighter;
	color: #323232;
}

figcaption h3 {
    font-size: 1.1em;
    line-height: 1.4;
    padding-top: .5em;
	color: #323232;
}

div.infoPublicacion {
    display: flex;
    justify-content: space-between;
    padding: .5em 0em;
    align-items: center;
}

div.precioPublicaciones {
	font-size: 1em;
    color: #d50000;
}

.precioPublicacion {
    color: #d50000;
}

button.comprar{
	background-color: #d50000;
	padding: .5em;
	color: white;
	border: 0;
	cursor: pointer;
}

.cargarMas a {
    text-align: center;
    display: block;
}

/*footer*/

footer{
	color:white;
	background-color: #000000;
	font-size: 0.7em;
	text-align:center;
	line-height: 2em;
	display: flex;
    width: 100%;
    justify-content: space-around;
	padding: 3em;

}

.siteMap>h3{
	color: #e08200;
}

.siteMap{
	position:relative;
}

.contacto>h3{
	color: #e08200;
}

.contacto{
	position:relative;
}

.redesSociales>h3{
	color: #e08200;
}

.redesSociales{
	position:relative;
	
}

@media (min-width: 450px){
	.fecha {
		font-size: 1.8em;
		line-height: 1.4;
	}

	.publicacionRandom figcaption {
		margin-top: 0;
		padding: 1.5em;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}	

	div.contenidoPublicacion figure {
		width: 17%;
	}

	div.contenidoPublicacion figcaption {
		padding: .5em 1em
	}

	.introduccion .publicacionRandom{
		display: flex;
		justify-content: space-between;
	}

	.introduccion .random {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.publicacionRandom figcaption h1 {
		font-size: 3em;
		line-height: 1.3;
	}

	.publicacionRandom figcaption h5 {
		font-size: .9em;
	}

	.publicacionRandom figcaption p {
		font-size: 1.1em
	}

	.publicacionRandom .precioPublicacion {
		font-size: 2em;
	}

	.fechaLogin {
		display: flex;
		justify-content: space-between;
	}
}

@media (min-width: 800px){
div.logo {
    padding-left: 4em;
    max-width: 23em;
    padding-top: 0.3em;
}

section {
    padding: 3em 9em;
}

.menuDesplegable{
	display: none;
}

.buscar {
    display: inline-block;
    margin-right: 3em;
    position: relative;
    float: right;
    margin-top: 1.3em;
}

.buscar input[type="submit"] {
    cursor: pointer;
}

.buscar input {
    border: 0;
    padding: .6em;
    text-align: right;
    border-radius: .5em;
    color: #656565;
}

.fechaLogin .loginEscritorio {
    width: 38%;
    background-color: white;
    padding: 1.3em 1.5em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #656565;
}

.fechaLogin .loginEscritorio span {
    font-size: 1.2em;
}

.fechaLogin .loginEscritorio div {
	display: flex;
	justify-content: space-between;
}

.fechaLogin .loginEscritorio button {
    width: 46%;
    border: 0;
    padding: .7em;
    font-size: 1em;
    color: white;
    cursor: pointer;
    border-radius: .5em;
}

.introduccion .random {
	display: flex;
	justify-content: space-between;
	width: 58%;
}

.introduccion .clima{
	width; 38%
}

/*registro lector*/

.registroLector{
	background-color: #656565;
	display:block;
	color: #e08200;
}

.registroLector>form{
	margin-left: 5em;
}

.registroLector>form>input{
	overflow: hidden;
	margin:1em;
	width:30em;
	height:3em;
	
}

.registroLector>form>input#enviar{
	background-color: #e08200;
	color: white;
	width: 10em;
	
}




}